@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Here we got the Online chat</h1>
    <p class="lead">Easilly to speak with other people all over the world.</p>
    <p><a href="/Home/Chat" class="btn btn-primary btn-lg">Get started! &raquo;</a></p>
</div>

